html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    cursor: url('assets/cursorWand1.png'), auto;
}


/*HEADER STYLING*/

#main-header {
    text-align: center;
    font-family: 'Ragyola', sans-serif;
    font-size:700%;
    color: rgb(76, 132, 62);
    
    border-width:70px ;   
    border-style:ridge;  
    border-color: rgb(106, 45, 126);

    margin: 0;

}


/*LINK STYLING*/

.index-links { 
    text-align: center;
    font-size: 50px;

}

a {
    color:rgb(76, 132, 62);
    font-family: 'Ragyola', sans-serif;
    text-decoration-line:none;
}

a:hover {
    color: rgb(126, 190, 110)

}

/*LAYOUT STYLING*/

.layout {
    display: flex;
    min-height: 100vh; 
}


body {    
    background-color: bisque;
}


.side-bar{
    width: 300px;
    background-image: url(assets/purple-velvet.jpg);
    background-size: cover;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

}

nav{
    display: flex;
    flex-direction: column;
    
    
}