html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    cursor: url('assets/cursorWand1.png'), auto;
}


/*HEADER STYLING*/
header {
    text-align: center;
    padding-top: 15px;
  
    background-image: url(assets/sequins.jpg);

}

#main-header {
  
    background-color: rgb(0, 0, 0);

    font-family: 'Ragyola', sans-serif;
    font-size:750%;
    color: rgb(202, 56, 56);
    text-shadow: 3px 5px 8px rgb(255, 255, 255);
    display:inline;
    border-width:15px ;   
    border-style:ridge;  
    border-color: rgb(106, 45, 126);
    border-radius: 10px;
  
    margin: 10px;  
  
   
}



/*LINK STYLING*/

.index-links li{
margin: 80px; ;

}
.index-links {
    

    padding: 100px;;
    list-style: none;
    text-align: center;
    font-size: 50px;
}

a {
    color:rgb(76, 132, 62);
    font-family: 'Ragyola', sans-serif;
    text-decoration-line:none;
}

a:hover {
    color: rgb(126, 190, 110)
}

/*LAYOUT STYLING*/

.layout {
    display: flex;
    min-height: 100vh; 
}


body {    
  background-color: rgb(84, 47, 123); 

}


.side-bar{
    width: 300px;
    background-image: url(assets/flower-swatch.jpg);
    background-position: center;
    background-size: 25%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

}

nav {
    display: flex;
    flex-direction: column;
    
    
}


/*BANNER LAYOUT*/

#scroll-banner{
    overflow: hidden;
    background-color: rgb(69, 22, 22);
    padding: 15px;
  
    border-width: 10px;
    border-style:inset;
    border-color: rgb(200, 190, 39);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    position: relative;

    
}



#scroll-container{
    display: inline-flex;
    animation-name: scrolling-text;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

.scroll-text{
    
    color: rgb(255, 193, 107);

    padding-right: 50px;



}

@keyframes scrolling-text{
    0% {transform: translateX(-50%);}
    100% {transform: translateX(0%);}
  
}

/* Mp3 Player*/
audio {
    background-color: blue;
    color: aquamarine;
}