html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    cursor: url('assets/cursorWand1.png'), auto;
}


/*HEADER STYLING*/
header {
    text-align: center;
    padding-top: 15px;
  
    background-image: url(assets/sequins.jpg);

}

#main-header {
  
    background-color: rgb(0, 0, 0);

    font-family: 'Ragyola', sans-serif;
    font-size:750%;
    color: rgb(202, 56, 56);
    text-shadow: 3px 5px 8px rgb(255, 255, 255);
    display:inline;
    border-width:15px ;   
    border-style:ridge;  
    border-color: rgb(106, 45, 126);
    border-radius: 10px;
  
    margin: 10px;  
  
   
}





/*LINK STYLING*/

.index-links li{
margin: 80px; ;

}
.index-links {
    padding: 100px;;
    list-style: none;
    text-align: center;
    font-size: 50px;
}

a {
    color:rgb(76, 132, 62);
    font-family: 'Ragyola', sans-serif;
    text-decoration-line:none;
}

a:hover {
    color: rgb(126, 190, 110)
}

/*LAYOUT STYLING*/

.layout {
    display: flex;
    min-height: 100vh; 
}


body {    
    background-color: rgb(84, 47, 123);
}


.side-bar{
    width: 300px;
    background-image: url(assets/flower-swatch.jpg);
    background-position: center;
    background-size: 25%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

}

nav {
    display: flex;
    flex-direction: column;
    
    
}